extends layout

block content
     
    -let  total = 0;
    .container
        br
        table.table.table-hover 
            thead.table-dark 
                tr
                    th Name
                    th Price  
                    th Action  
            tbody 
                each product in cart
                    -total += product.price
                    tr 
                        td=product.name 
                        td=product.price
                        td
                          .rate
                            input#star5(type='radio' name='rate' value='5')
                            label(for='star5' title='text') 5 stars
                            input#star4(type='radio' name='rate' value='4')
                            label(for='star4' title='text') 4 stars
                            input#star3(type='radio' name='rate' value='3')
                            label(for='star3' title='text') 3 stars
                            input#star2(type='radio' name='rate' value='2')
                            label(for='star2' title='text') 2 stars
                            input#star1(type='radio' name='rate' value='1')
                            label(for='star1' title='text') 1 star

                        td 
                            a(href="cart/remove/"+product._id).btn.btn-danger Remove 
            tfoot 
                tr 
                    th Total Price
                    th=total
